<div class="r-main-container">
    <div class="r-main-wrapper"> 
        <div class="r-header">
            <div class="r-header-label">
                <span>Roles</span>
            </div>
        </div>
        <div class="r-table">
            <div class="tbl-action-hdr">
                <div class="btn-wrapper">
                    <button>Add Role</button>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Added by</th>
                        <th>Date added</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Administrator</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                        <td>
                            <button class="btn-delete">Delete</button>
                            <button class="btn-edit">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Supervisor</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                        <td>
                            <button class="btn-delete">Delete</button>
                            <button class="btn-edit">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Manager</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                        <td>
                            <button class="btn-delete">Delete</button>
                            <button class="btn-edit">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Staff</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                        <td>
                            <button class="btn-delete">Delete</button>
                            <button class="btn-edit">Edit</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table> 
        </div> 
    </div>
</div>