<div class="rs-main-container">
    <div class="rs-main-wrapper"> 
        <div class="rs-header">
            <div class="rs-header-label">
                <span>Recent sign-ups</span>
            </div>
        </div>
        <div class="rs-table">
            <table>
                <thead>
                    <tr>
                        <th>Account No.</th>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>John Doe</td>
                        <td>9/9/2017</td> 
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            <div class="rs-footer">
                <div class="footer-content">
                    <span>See All</span>
                </div>
                <div></div>
            </div>
        </div> 
    </div>
</div>