@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html {
   height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: 'lato', sans-serif;
    color: #fff;

    .header-container {
        
        .header-wrapper {

            img {
                width: 400px;
                max-width: 400px;
            }
        }
    }
}

.container {
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width:450px;
    display: flex;  
    flex-direction: column;
    top: calc(50% - 170px);
    position: fixed;
    border: solid 1px #D4D4D4;
}

.logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
}

.login-item {
    color: #ffff;
    padding:25px 25px 0;
    margin: 20px 20px 0;	
    border-radius: 3px;
}

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border: solid 1px #D4D4D4;
}

.user:before {
    content: '\f0e0';
    font: 11px fontawesome;
    color: #5b5b5b;
}

.lock:before {
    content: '\f0e0';
    font: 11px fontawesome;
    color: #5b5b5b;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
    width: 100%;
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;  
}

.form-login label {
    border: solid 1px #D4D4D4;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.form-login input[type="text"], .form-login input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
// .form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
//     background-color: #eeeeee;
// }
.form-login input[type="submit"] {
    background-color:#F7AA23;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}
.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
    background-color: #E8C839;
    cursor: pointer;
}
.form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
}


.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text--center {
    text-align: center;
}

.form-bottom {
    text-align: center;
    padding-bottom: 35px;

    a {
        color: #777;
        text-decoration: underline;
        cursor: pointer;
    } 
}