<div class="s-main-container">
    <div class="s-main-wrapper"> 
        <div class="s-header">
            <div class="btn-wrapper">
                <button>Add Staff</button>
            </div>
            <div class="search-wrapper">
                <i class="material-icons">search</i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="s-table">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Date added</th>
                        <th>Added by</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Administrator</td>
                        <td>9/9/2017</td>
                        <td>Anna Beech</td>
                        <td>
                            <button>View</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div> 
    </div>
</div>