/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background-color: #34495E;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
    font-family: calibri, Verdana, Geneva, Tahoma, sans-serif;
}